In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
"""
INFO:
101,332 Players with up to 20 features each (exluding year, including team)
if metric not reported for player, set to 0.0 by default
"""
batting_data_path = 'bsb_ref.csv'

df = pd.read_csv(batting_data_path)
df = df.fillna(0)  # fixing this could really help with results potentially

In [53]:
def find_peers(player_data, n=6):
    """
    Ideally:
        -Drop players who have played fewer than n years.
        -Drop years not in [1, n].
        -Normalize each metric for each year i in n.
        -Compute L2 norm between player and all others.
        -Return new dataframe containing player's peers in range [1, n]
    Currently:
        -Drop players who have played fewer than n years.
        -Drop years not in [1, n].
    Hopefully with a sufficiently large n, the players will all be similar enough.
    """
    player_data = player_data.groupby('name_common').filter(lambda years: len(years) >= n)
    
    players = set(player_data['name_common'].values)
    for p in players:
        player_data[player_data['name_common'] == p] \
            = player_data[player_data['name_common'] == p].head(n=n)
    player_data = player_data.dropna()   # sus af
    return player_data

    
peers = find_peers(pd.DataFrame.copy(df))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [56]:
peers.head()

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
0,David Aardsma,22.0,430911.0,aardsda01,2004.0,SFG,1.0,NL,0.0,11.0,...,4.67092,1.890,1.890,0.500,0.500,0.5,0.5000,0.0,0.000,0.000
1,David Aardsma,24.0,430911.0,aardsda01,2006.0,CHC,1.0,NL,3.0,43.0,...,4.86457,1.912,1.913,0.499,0.499,0.5,0.4998,-100.0,0.694,0.896
2,David Aardsma,25.0,430911.0,aardsda01,2007.0,CHW,1.0,AL,0.0,2.0,...,4.85895,1.912,1.912,0.500,0.500,0.5,0.5000,0.0,0.000,0.000
3,David Aardsma,26.0,430911.0,aardsda01,2008.0,BOS,1.0,AL,1.0,5.0,...,4.69650,1.893,1.894,0.497,0.497,0.5,0.4992,-100.0,0.345,0.434
4,David Aardsma,27.0,430911.0,aardsda01,2009.0,SEA,1.0,AL,0.0,3.0,...,4.79788,1.905,1.905,0.500,0.500,0.5,0.5000,0.0,0.000,0.000